body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  top: 70px;
  width: 0;
  position: fixed;
  z-index: 1;
  /* top: 0; */
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar .sidebar-items  a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar .sidebar-items a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidebar .sidebar-items div.dropdown-container {
  display: none;
  transition: display 0.3s;
  background-color: #262626;
  padding-left: 8px;
  /* border-left-color: #555; */
  /* border-left-width: thick; */
}
/*
.sidebar .sidebar-items .dropdown-btn .active {
  transition: 0.3s;
  /* background-color: green; */
  /* background: #111;
  color: white;
} */

.sidebar .sidebar-items{
  padding-top: 10px;
}
.sidebar .sidebar-items  a:hover {
  color: #f1f1f1;
}

.sidebar .sidebar-brand a{
  /* padding: 0px 8px 8px 32px; */
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar .sidebar-brand a:hover {
  color: #f1f1f1;
}

.sidebar .profile-name a{
  text-align: center;
  padding-left: 0px;
  padding-top: 30px;
}
.sidebar .sidebar-brand .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/*
.sidebar-brand{
  background: #444;
} */
.sidebar-profile{
  padding-left: 85px;
  padding-top: 0px;
}
.openbtn {
  font-size: 25px;
  cursor: pointer;
  background-color: #222;
  color: #aaa;
  padding-top: 20px;
  border: none;
}

.openbtn:hover {
  color: #fff;
}



#main {
  transition: margin-left .5s;
  padding-left: 30px;
  padding-top: 70px;
}
.main-body{

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar .sidebar-items a {font-size: 14px;}
  .sidebar .profile-name a{font-size: 24px; padding-top: 15px;}
}

.avatar{
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.avatar-profile{
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.avatar-profile-sidebar{
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
#profile{
  background: #444;
}
.dropdown-menu{
  width: 300px;
}

#dropdown-box{
  background: #444;
}
#bottom-section{
  padding-top: 10px;
  padding-bottom: 40px;
  background: #333;
}

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
.navbar-brand{
  padding-top: 25px;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}
@media screen and (max-width: 767px){
  .navbar-brand{
    padding-top: 15px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
  }
  .openbtn{
    padding-top: 13px;
    font-size: 20px;

  }

  #profile{
    background: #222;
  }

  #top-section{
    background: #444;
  }

  #bottom-section{
    padding-bottom: 40px;
    padding-top: 20px;
  }
  .sidebar{
    top:50px;
  }
  #main{
    padding-top: 50px;
    padding-left: 16px;
  }

}
