README.md~
.gitignore~
*.pyc
HealthBuddy/.idea/
HealthBuddy/Patient/__pycache__/
HealthBuddy/Reception/__pycache__/
HealthBuddy/Pharmacy/__pycache__/
HealthBuddy/users/__pycache__/
HealthBuddy/students/__pycache__/
HealthBuddy/Doctor/__pycache__/
HealthBuddy/employee/__pycache__/
HealthBuddy/Patient/migrations/
HealthBuddy/Reception/migrations/
HealthBuddy/Pharmacy/migrations/
HealthBuddy/users/migrations/
HealthBuddy/students/migrations/
HealthBuddy/Doctor/migrations/
HealthBuddy/employee/migrations/
