<!DOCTYPE html>
<html>
<head>
  {%load staticfiles %}
  <title> {% block title %}HealthBuddy | {{ username }}{% endblock %} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static "users/style_base_profile.css" %}" type='text/css'>
</head>
<body>
  <div "navbar">
    <nav class="nav navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#TopNavBar" onclick="closeNav()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">&nbsp HealthBuddy</a>
          <button class="openbtn" onclick="openNav()">
            <span class="glyphicon glyphicon-th-list"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="TopNavBar">
          <ul class="nav navbar-nav navbar-right" id="profile">
            <li class"dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <img src="{% static "users/image.png" %}" class="avatar"/> &nbsp Paras
              </a>
              <ul class="dropdown-menu" id="dropdown-box">
                <li align="center" class="image" style="padding-top:25px; padding-bottom: 25px;" id="top-section">
                  <img src="{% static "users/image.png" %}" class="avatar-profile"/>
                </li>
                <li id="bottom-section">
                  <div class="pull-left">
                    &nbsp&nbsp&nbsp<a href="#" class="btn btn-default btn-flat"><span class="glyphicon glyphicon-user"></span> My Profile</a>
                  </div>
                  <div class="pull-right">
                    <a href="#" class="btn btn-default btn-flat"><span class="glyphicon glyphicon-log-out"></span> Logout</a>&nbsp&nbsp&nbsp
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div id="mySidebar" class="sidebar">
    <div class="sidebar-brand">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <div class="sidebar-profile">
        <img src="{% static "users/image.png" %}" align="center" class="avatar-profile-sidebar">
      </div>
      <div class="profile-name">
        <a href=#><b>Paras Mittal</b></a>
      </div>
    </div>
    <div class="sidebar-items">

      <a href="#myprofile" class="dropdown-btn">My Health Profile</a>
        <div class="dropdown-container">
          <a href="#">Show Profile</a>
        </div>

      <a href="#manage">Manage</a>

      <a href="#Appointments" class="dropdown-btn">Appointments</a>
        <div class="dropdown-container">
          <a href="#">Request Appointment</a>
          <a href="#">Upcoming Appointments</a>
          <a href="#">Past Appointments</a>
        </div>

      <a href="#Medical History" class="dropdown-btn">Medical History</a>
        <div class="dropdown-container">
          <a href="#">Add Items</a>
          <a href="#">View</a>
        </div>



    </div>
  </div>


  <div id="main">
    <div class="main-body">
      {% block body %} {% endblock %}
    </div>
  </div>

<script src="{% static "users/script_base_profile.js" %}"></script>

</body>
</html>
