<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}HeathBuddy | Info{% endblock %}</title>

    {% load staticfiles %}
   <!-- <link rel="stylesheet" href="{% static 'info.css' %}" type="text/css">-->
    
    <body class="bod">
        <div class="div">
            <h2 class="head" style="margin-top: 0px;"><center>AMBULANCE PROTOCOL</center></h2>
            1. Call phone number 7777/7666 <b>in case of emergency only</b>. <br><br>
            2. Give information to Health Center Reception regarding location.Phone number you are calling from and condition of the patient. <br><br>
            3. If possible, ask one person to stand roadside to direct the ambulance. <br><br>
            <b>Ambulance will not be provided for OPD treatment and Investigation to the city.</b>
        </div>
        <br>
        <div class="div">
            <h2 class="head" style="margin-top: 0px;"><center>TIMINGS</center></h2>
            <b>OPD REGISTRATION</b> : 8:30AM to 11:30AM and 4:30PM to 6:30PM <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Except Saturday evening and Sunday) <br><br>
            <b>OPD TIMINGS</b> : 9:30AM and 5:00PM Onwards <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(No OPD on Saturday evening,Sundays and Govt. Holidays)
        </div>
        <br>
        <div class="div">
            <b>CARDIOLOGY (HEART) OPD: </b><br>
            <div class="indiv">
            Wednesday: 3:30PM to 4:30PM
            </div>
            <br>
            
            <b>DENTAL OPD: </b><br>
            <div class="indiv">
            Tuesday: 4:00PM to 5:00PM <br>
            Friday: 12:00 NOON onwards <br>
            Saturday: 5:00PM tp 8:00PM 
            </div>
            <br>
            
            <b>DERMATOLOGY (SKIN) OPD: </b><br>
            <div class="indiv">
                Monday: 5:00PM to 7:00PM<br>
                Thursday: 12:30PM to 2:00PM
            </div>
            <br>
            
            <b>ENT (EAR,NOSE,THROAT) OPD: </b><br>
            <div class="indiv">
                Saturday: 4:30PM to 5:30PM
            </div>
            <br>
            
            <b>GENERAL MEDICINE OPD: </b><br>
            <div class="indiv">
                Saturday: 12:00 NOON to 2:00PM
            </div>
            <br>
            
            <b>HOMEOPATHY CONSULTATION: </b><br>
            <div class="indiv">
                Registration Timings: 9:00AM to 11:30AM
                (Except Sundays and Holidays)
            </div>
            <br>
            
            <b>OPTHALMOLOGY (EYE) OPD: </b><br>
            <div class="indiv">
                Tuesday: 5:00PM to 7:00PM <br>
                Saturday: 10:00AM to 12:00 NOON        
            </div>
            <br>
            
            <b>ORTHOPEDIC  OPD: </b><br>
            <div class="indiv">
                    Thursday: 12:00 NOON to 2:00PM <br>
                    Saturday: 11:00AM to 12:30PM
            </div>
            <br>
            
            <b>PEDIATRICS OPD with VACCINATION CLINC: </b><br>
            <div class="indiv">
                Tuesday: 6:00PM to 8:00PM <br>
                Thursday: 10:00AM to 11:30AM
            </div>
            <br>

            <b>PATHOLOGY AND BIOCHEMISTRY: </b><br>
            <div class="indiv">
                Sample Collection Timings: <br>
                Monday to Saturday: 8:00AM to 12:00 NOON and 5:00PM to 7:00PM <br>
                Sunday: 8:00AM to 10:00AM
            </div>
            <br>
            
            <b>PHYSIOTHERAPY: </b><br>
            <div class="indiv">
                3:00PM to 9:00PM <br>
                (Except on Sundays and Govt. Holidays)
            </div>
            <br>
            
            <b>RADIOLOGY: </b><br>
            <div class="indiv">
                X-Rays: 8:30AM to 1:30PM
            </div>
            <br>
            
            <b>WOMEN'S HEALTH (OBGY) OPD: </b><br>
            <div class="indiv">
                Thursday: 1:00PM to 3:00PM
            </div>
            <br>
        </div>
        <br>

        <div class="div">
            <b>ROUTINE DRESSINGS:</b> <br>
            <div class="indiv">
                Monday to Friday: 8:30AM to 12:00 NOON and 4:30PM to 6:00PM <br>
                Saturday: 8:30AM to 12:00 NOON <br>
                Sundays and Holidays: 9:00AM to 10:00AM
            </div>
            <br>

            <b>INJECTIONS:</b> <br>
            <div class="indiv">
                Monday to Friday: 8:30AM to 12:00 NOON and 4:30PM to 6:00PM <br>
                Saturday: 8:30AM to 12:00 NOON <br>
                Sundays and Holidays: 9:00AM to 10:00AM <br>
                B.D. Injection: 7:00AM to 7:30AM and 7:00PM to 7:30PM
            </div>
            <br>
        </div>
    </body>
</html>