<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title> {% block title %}HealthBuddy | {{ request.user }}{% endblock %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static "users/style_base_profile.css" %}" type='text/css'>
</head>

{% block body %}


    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'users:home' %}"><strong>HealthBuddy</strong></a>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="#"><a href="http://www.iitk.ac.in/hc/HealthCalci/healthcalci.htm" target="_blank"><span class="#" aria-hidden="true"></span>&nbsp; Health Calculator</a></li>
                    <li class="#"><a href="{% url 'users:contact'%}"><span class="#" aria-hidden="true"></span>&nbsp; Contact Us</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href = "{% url 'users:home' %}">
                            <span class="" aria-hidden="true"></span>&nbsp;<i class="fa fa-user fa-1.5x"></i> {{request.user.first_name}}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'users:logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div id="mySidebar" class="sidebar">
    <div class="sidebar-brand">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <div class="sidebar-profile">
        <img src="{% static "users/image.png" %}" align="center" class="avatar-profile-sidebar">
      </div>
      <div class="profile-name">
        <a href=#><b>Paras Mittal</b></a>
      </div>
    </div>
    <div class="sidebar-items">

      <a href="#myprofile" class="dropdown-btn">Health Profile</a>
        <div class="dropdown-container">
          <a href="#">View</a>
        </div>

      <a href="#Appointments" class="dropdown-btn">Appointments</a>
        <div class="dropdown-container">
          <a href="#">Book new</a>
          <a href="#">Pending</a>
          <a href="#">View Old</a>
        </div>

      <a href="#Medical History" class="dropdown-btn">Medical History</a>
        <div class="dropdown-container">
          <a href="#">Add Items</a>
          <a href="#">View</a>
        </div>

      <a href="#Help">Help</a>
        <div class="dropdown-container">
          <a href="#">Specialists</a>
          <a href="#">Timings</a>
          <a href="#">Contact Us</a>
        </div>

    </div>
    </div>


    <div class="row">
        <div class="panel panel-success">
            <!--                panel heading-->
            <div class="panel-heading" align="center">
                <h5 class="panel-title">List of prescriptions</h5>
            </div>
            <div align="center">
                <form id="search_pres" action="{% url 'Pharmacy:searchPres' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.patient_roll.errors }}
                    {{ form.patient_roll }}
                    
                    <input type="submit" value="Search" class = "btn btn-primary">
                </form>
            </div>
        </div>
    </div>


{% endblock %}

</html>
