{%extends 'users/base.html'%}
{% block scripts %}
{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="//www.chartjs.org/assets/Chart.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/Reception/home.css" />
<script src="{% static "search/jquery.filtertable.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static "search/jquery.filtertable.min.js" %}"></script>
<script>
    $(document).ready(function() {
        $('#med_table').filterTable(); // apply filterTable to all tables on this page
    });
</script>
<script>
    $(document).ready(function() {
        $('#pres_table').filterTable(); // apply filterTable to all tables on this page
    });
</script>

{% endblock %}
{%block body%}
<center>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'users:home' %}"><strong>HealthBuddy</strong></a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="#"><a href="http://www.iitk.ac.in/hc/HealthCalci/healthcalci.htm" target="_blank"><span class="#" aria-hidden="true"></span>&nbsp; Health Calculator</a></li>
                <li class="#"><a href="{% url 'users:contact'%}" target = "_blank"><span class="#" aria-hidden="true"></span>&nbsp; Contact Us</a></li>
                <li class="#"><a href="{% url 'users:HC_Info'%}" target = "_blank"><span class="#" aria-hidden="true"></span>&nbsp; Info</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href = "{% url 'users:redirect_home' %}">
                        <span class="" aria-hidden="true"></span>&nbsp;<i class="fa fa-user fa-1.5x"></i> {{request.user.first_name}}
                    </a>
                </li>
                <li>
                    <a href="{% url 'users:logout' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
        <div class="panel panel-success">
    <!--                panel heading-->
            <div class="panel-heading">
                <h5 class="panel-title">{{patient.user.first_name}}'s prescriptions</h5>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#pres_details" class="nav-link active text-success" data-toggle="tab">Prescription Details</a>
                    </li>
                    <li class="nav-item">
                        <a href="#pres_list" class="nav-link text-success" data-toggle="tab">Prescription List</a>
                    </li>
                    <li class="nav-item">
                        <a href="#med_list" class="nav-link text-success" data-toggle="tab">Medicine List</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="container tab-pane active" id="pres_details">
                        <br>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                        <h6 class="panel-title">Prescription</h6>
                                    </div>
                            <div class="panel-body" style="display: block;">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <table style="border-color: white; width:100%;" class="table table-responsive" align="center">
                                                        <tr style="border-color: white;">
                                                            <td  style="border-color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td style="border-color: white; align:left;"><b>Patient</b></td>
                                                            <td  style="border-color: white;">{{patient.user.first_name}} {{patient.user.last_name}}</td>
                                                            <td  style=" border-color: white;"></td>
                                                        </tr>
                                                        <tr style="border-color: white;">
                                                            <td  style="border-color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td style="border-color: white; align:left;"><b>Treatment for</b></td>
                                                            <td  style="border-color: white;">{% if pres.treatmentFor%}{{pres.treatmentFor}}{%else%}NA{%endif%}</td>
                                                            <td  style=" border-color: white;"></td>
                                                        </tr>
                                                        <tr style="border-color: white;">
                                                            <td  style="border-color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td style="border-color: white; align:left;"><b>Remarks</b></td>
                                                            <td  style="border-color: white;">{%if pres.remarks%}{{pres.remarks}}{%else%}NA{%endif%}</td>
                                                            <td  style=" border-color: white;"></td>
                                                        </tr>
                                                        <tr style="border-color: white;">
                                                            <td  style="border-color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td style="border-color: white; align:left;"><b>Room no 7</b></td>
                                                            <td  style="border-color: white;">{%if pres.roomNo7%}{{pres.roomNo7}}{%else%}NA{%endif%}</td>
                                                            <td  style=" border-color: white;"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-6">
                                                    <table style="border-color: white; width:100%;" class="table table-responsive" align="center">
                                                        <tr style="border-color: white;">
                                                            <td  style="border-color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td style="border-color: white; align:left;"><b>Doctor</b></td>
                                                            <td  style="border-color: white;">Dr {{pres.doctor.user.first_name}} {{pres.doctor.user.last_name}}</td>
                                                            <td  style=" border-color: white;"></td>
                                                        </tr>
                                                        <tr style="border-color: white;">
                                                            <td  style="border-color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td style="border-color: white; align:left;"><b>Date</b></td>
                                                            <td  style="border-color: white;">{{pres.date}}</td>
                                                            <td  style=" border-color: white;"></td>
                                                        </tr>
                                                        <tr style="border-color: white;">
                                                            <td  style="border-color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td style="border-color: white; align:left;"><b>Vitals</b></td>
                                                            {%if pres.testpres_set.all %}
                                                            <td  style="border-color: white;">{%for t in pres.testpres_set.all %}{{ t.test }}<br>{%endfor%}</td>
                                                            <td  style="border-color: white;">{%for t in pres.testpres_set.all %}{{ t.value }}<br>{%endfor%}</td>
                                                            {%else%}
                                                            <td>NA</td>
                                                            {%endif%}
                                                            <td  style=" border-color: white;"></td>
                                                        </tr>
                                                        <tr style="border-color: white;">
                                                            <td  style="border-color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td style="border-color: white; align:left;"><b>Test</b></td>
                                                            {%if pres.tests.all %}
                                                            <td  style="border-color: white;">{% for t in pres.tests.all %}{{t}}<br>{%endfor%}</td>
                                                            {%endif%}
                                                            <td  style=" border-color: white;"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">
                                                            <h6 class="panel-title">Medicines</h6>
                                                        </div>
                                                        <div class="panel-body" style="display: block;">
                                                            <div class="form-group">
                                                                <table class="table table-success">
                                                                    <thead>
                                                                        <tr class="table-success">
                                                                            <th></th>
                                                                            <th>Medicine</th>
                                                                            <th>Times a day</th>
                                                                            <th>No of days</th>
                                                                            <th>When to take</th>
                                                                            <th>Provided</th>
                                                                        </tr>
                                                                    </thead>
                                                                    {% if med %}
                                                                    <tbody>
                                                                        {%for m in med %}
                                                                        <tr>
                                                                            <th>{{ forloop.counter }}.</th>
                                                                            <th>{{m.medicine}}</th>
                                                                            <td>{{m.times_a_day}}</td>
                                                                            <td>{{m.no_of_days}}</td>
                                                                            <td>{{m.when_to_take}}</td>
                                                                            <td>{{m.provided}}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                    {%endif%}
                                                                </table>
                                                                <a class="btn btn-success" data-toggle="modal" data-target="#success" href="">Verify</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                    </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Verify Patient</h6>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <form id="provided_form"  action="{%url 'Pharmacy:verify_user' pres.id%}" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="col-lg-4">
                                                    <div style="margin-bottom: 25px" class="input-group">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                        <input id="id_username" type="text" class="form-control" name="username" value="" placeholder="username">
                                                    </div>

                                                    <div style="margin-bottom: 25px" class="input-group">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                        <input id="id_password" type="password" class="form-control" name="password" placeholder="password">
                                                    </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="fieldWrapper">
                                                            <label class="req" for="id_m">Provided</label>
                                                            <br>
                                                            <select class="form-control" id="id_m" name="provided" multiple="">
                                                                {%for m in med%}
                                                                    <option value="{{m.id}}">{{m.medicine}}</option>
                                                                {%endfor%}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div style="margin-top:10px" class="form-group">
                                                        <!-- Button -->
                                                        <center>
                                                        <div class="col-sm-14 controls">
                                                            <input type="submit" value="Add Medicines" class="btn btn-primary">
                                                        </div>
                                                        </center>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h5 class="panel-title">Medicine List</h5>
                        </div>
                        {% if error_message%}
                            <div class="alert alert-warning">
                                <p><strong>{{ error_message }}</strong></p>
                            </div>
                        {% endif %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>S No</th>
                                    <th>Medicine Name</th>
                                    <th>Quantity Present</th>
                                    <th>Quantity Provided</th>
                                </tr>
                            </thead>
                            {%for m in temp_list %}
                            <tbody>
                                    <tr class="table-success">
                                        <td>{{ forloop.counter }}.</td>
                                        <td>{{m.name}}</td>
                                        <td>{{m.quantity}}</td>
                                        <td>
                                            <form id="change_quantity_form" action="{% url 'Pharmacy:change_quantity' patient.rollNo pres.id m.id %}"  method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                {{ form.quantity_provided.errors }}
                                                {{ form.quantity_provided }}
                                                <input type="submit" value="Add">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                    </table>
                    </div>
                    </div>
    <!--                        Patient History-->
                    <div class="container tab-pane fade" id="pres_list"><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h6 class="panel-title">History</h6>
                                    </div>
                                    <div class="panel-body" style="display: block;">

                                        {% if error_message%}
                                        <div class="alert alert-warning">
                                            <p><strong>{{ error_message }}</strong></p>
                                        </div>
                                        {% endif %}
                                        <div class="tab-content">
                                            <div id="pr" class="tab-pane fade in active">
                                                <div class="row">
                                                    <table class="table" id="pres_table">
                                                        <thead>
                                                            <tr>
                                                                <th>S No</th>
                                                                <th>Consultation Date</th>
                                                                <th>Treatment For</th>
                                                                <th>Doctor</th>
                                                            </tr>
                                                        </thead>

                                                        {%for p in patient.prescription_set.all %}
                                                        <tbody>
                                                            <tr class="table-success">
                                                                <td>{{ forloop.counter }}.</td>
                                                                <td class="text text-primary">{%for d in p.presdetails_set.all%} {{ d.date.date }}<br> {%endfor%}</td>
                                                                <td class="text text-primary">{%for d in p.presdetails_set.all%} {{ p.treatmentFor }}<br> {%endfor%}</td>
                                                                <td class="text text-primary">{% for d in p.presdetails_set.all %}Dr {{ d.doctor.user.first_name }} {{ d.doctor.user.last_name }} <br>{% endfor %} </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- medicine list-->
                    <div class="container tab-pane fade" id="med_list"><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h6 class="panel-title">List of Medicines</h6>
                                    </div>
                                    <div class="panel-body" style="display: block;">
                                        <div class="row">
                                            <table class="table" id="med_table">
                                                <thead>
                                                    <tr>
                                                        <th>S No</th>
                                                        <th>Medicine Name</th>
                                                        <th>Quantity Present</th>
                                                    </tr>
                                                </thead>
                                                {%for m in med_list %}
                                                <tbody>
                                                        <tr class="table-success">
                                                            <td>{{ forloop.counter }}.</td>
                                                            <td>{{m.name}}</td>
                                                            <td>{{m.quantity}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title"><strong>Verification by patient</strong></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form id=""  action="">
            <div class="md-form mb-5">
                {%csrf_token%}
                <label for="p" class="req">Password</label>
                <input id="p" type="password">
            </div>

        </form>
      </div>
      <div class="modal-footer">
        <center>
            <a class="btn btn-success" href="{%url 'users:redirect_home'%}">Submit</a>
        </center>
      </div>
    </form>
    </div>
  </div>
</div>

</center>

{%endblock%}

{% block scpt %}
    {%load staticfiles%}
    <script src="{% static "search/jquery.filtertable.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "search/jquery.filtertable.min.js" %}"></script>
    <script>
        $(document).ready(function() {
            $('#med_table').filterTable(); // apply filterTable to all tables on this page
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#pres_table').filterTable(); // apply filterTable to all tables on this page
        });
    </script>

{% endblock %}
