
{%extends 'Patient/base_profile_patient.html'%}
<center>
{% block body %}

<div class="container-fluid songs-container" style="padding-top: 30px;">

    <div class="row">
        <div class="col-sm-12 col-md-12">

            <div class="panel panel-default">
                <div class="panel-body">
                  <center>
                    <h3 style="font-size:35px;">{{request.user.first_name}}'s Prescriptions</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                  </center>
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Treatment For</th>
                                <th>Consultation Date</th>
                                <th>Doctor</th>
                            </tr>
                        </thead>

                        {%for p in prescriptions %}
                        <tbody>
                            <tr>
                                <th>{{ forloop.counter }}.</th>
                                <td>{{p.treatmentFor}}</td>
                                <th><a href="#" >{{ p.date.date }}</a></th>
                                <td>{{ p.doctor.user.first_name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
</center>
