{%extends 'users/base.html'%}
{% block scripts %}
{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="//www.chartjs.org/assets/Chart.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- <script  src="{% static 'Doctor/home_jquery.js' %}"></script> -->
<link rel="stylesheet" type="text/css" href="/static/Patient/home.css" />
<script>

</script>
{% endblock %}
{%block body%}

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'users:home' %}"><strong style = "font-size:18px">HealthBuddy</strong></a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="#"><a href="http://www.iitk.ac.in/hc/HealthCalci/healthcalci.htm" target="_blank"><span class="#" aria-hidden="true"></span>&nbsp; Health Calculator</a></li>
                <li class="#"><a href="{% url 'users:contact'%}"><span class="#" aria-hidden="true"></span>&nbsp; Contact Us</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href = "{% url 'users:redirect_home' %}"
                        <span class="" aria-hidden="true"></span>&nbsp; {{request.user.first_name}}
                    </a>
                </li>
                <li>
                    <a href="{% url 'users:logout' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="media"><br>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h6 class="panel-title">{{patient.user.first_name}}'s profile</h6>
                </div>
                <div class="panel-body" style="display: block;">
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h6 class="panel-title">Personal Details<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                            </div>

                            <div class="panel-body" style="display: block;">
                                <div class="tabbable tab-content-bordered panel border-teal">
                                    <div class="tab-content">

                                        <table style="border-color: white; width:100%;" class="table table-responsive" align="center">
                                            <tr style="border-color: white;">
                                                <td  style="border-color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                <td style="border-color: white; align:left;"><b>Name</b></td>
                                                <td  style="border-color: white;">{{patient.user.first_name}} {{patient.user.last_name}}</td>
                                                <td  style=" border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Contact Number</b></td>
                                                <td  style="  border-color: white;">{{patient.phoneNo}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Username</b></td>
                                                <td  style="  border-color: white;">{{patient.user.username}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Designation</b></td>
                                                <td  style="  border-color: white;">{{patient.designation}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Department</b></td>
                                                <td  style="  border-color: white;">{{patient.department}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Roll no./Pf no</b></td>
                                                <td  style="  border-color: white;">{{patient.rollNo}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Address</b></td>
                                                <td  style="  border-color: white;">{{patient.per_addr}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            {%if patient.is_student %}
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Patient type</b></td>
                                                <td  style="  border-color: white;">Student</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Hall</b></td>
                                                <td  style="  border-color: white;">{{patient.hall}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Program</b></td>
                                                <td  style="  border-color: white;">{{patient.program}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Hometown</b></td>
                                                <td  style="  border-color: white;">{{patient.hometown}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            {%else%}
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Patient type</b></td>
                                                <td  style="  border-color: white;">Staff</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            {%endif%}
                                            {%if user.is_dependent %}
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Dependent user</b></td>
                                                <td  style="  border-color: white;">{{patient.dependentUser}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Dependent Relation</b></td>
                                                <td  style="  border-color: white;">{{patient.dependentRelation}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            {%endif%}
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Emergency contact name</b></td>
                                                <td  style="  border-color: white;">{{patient.emergencyContactName}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Emergency contact relation</b></td>
                                                <td  style="  border-color: white;">{{patient.emergencyContactRelation}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Emergency contact no</b></td>
                                                <td  style="  border-color: white;">{{patient.emergencyContactNo}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Registered date</b></td>
                                                <td  style="  border-color: white;">{{patient.user.date_joined.date}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h6 class="panel-title">Medical Details<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                            </div>

                            <div class="panel-body" style="display: block;">
                                <div class="tabbable tab-content-bordered panel border-teal">
                                    <div class="tab-content">

                                        <table style="border-color: white; width:100%;" class="table table-responsive" align="center">

                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Age</b></td>
                                                <td  style="  border-color: white;">{{patient.age}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Gender</b></td>
                                                <td  style="  border-color: white;">{{patient.gender}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Blood group</b></td>
                                                <td  style="  border-color: white;">{{patient.bloodGroup}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Allergies</b></td>
                                                <td  style="  border-color: white;">{{patient.allergies}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>
                                            <tr style="border-color: white;">
                                                <td  style="  border-color: white;"></td>
                                                <td style="  border-color: white;"><b>Significant medical history</b></td>
                                                <td  style="  border-color: white;">{{patient.significantMedicalHistory}}</td>
                                                <td  style="  border-color: white;"></td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
