{%extends 'users/base.html'%}

{%block body%}

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">

            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'users:home' %}"><strong style = "font-size:18px">HealthBuddy</strong></a>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="#"><a href="http://www.iitk.ac.in/hc/HealthCalci/healthcalci.htm" target="_blank"><span class="#" aria-hidden="true"></span>&nbsp; Health Calculator</a></li>
                    <li class="#"><a href="{% url 'users:contact'%}" target = "_blank"><span class="#" aria-hidden="true"></span>&nbsp; Contact Us</a></li>
                <li class="#"><a href="{% url 'users:HC_Info'%}" target = "_blank"><span class="#" aria-hidden="true"></span>&nbsp; Info</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href = "{% url 'users:redirect_home' %}"
                            <span class="" aria-hidden="true"></span>&nbsp; {{request.user.first_name}}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'users:logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">

        <div class="col-sm-12 col-md-12">
            <div class="panel panel-success" style="padding: 20px 16px;">
        <!--                panel heading-->
                <div class="panel-heading">
                    <h5 class="panel-title">{{patient.user.first_name}} {{patient.user.last_name}}<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#pres" data-toggle="tab">Add prescription</a></li>
                        <li><a href="#his" data-toggle="tab">Patient History</a></li>
                        <li><a href="#prof" data-toggle="tab">Patient Profile</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="pres">
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Prescription &nbsp;&nbsp; <a href="{%url 'Doctor:create_prescription' patient.rollNo%}"><span class="glyphicon glyphicon-refresh" align="left"></span></a></h6>
                                        </div>
                                        <div class="panel-body" style="display: block;">
                                            <form id="pres_form"  action="{% if pres %} {% url 'Doctor:save_pres' patient.rollNo pres.id %} {%else%} {% url 'Doctor:save_pres_new' patient.rollNo %} {%endif%}" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                {% if error_message or med_form.non_field_errors or pres_form.non_field_errors%}
                                                <div class="alert alert-warning">
                                                    <p>{{ med_form.non_field_errors }}</p>
                                                    <p>{{ pres_form.non_field_errors }}</p>
                                                    <p><strong>{{ error_message }}</strong></p>

                                                </div>
                                                {% endif %}

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="panel panel-info">
                                                                <div class="panel-heading">
                                                                    <h6 class="panel-title">Medicine</h6>
                                                                </div>
                                                                <div class="panel-body" style="display: block;">
                                                                    <div class="form-group col-sm-3">
                                                                        <div class="fieldWrapper">
                                                                            {{ med_form.medicine.errors }}
                                                                            <label for="{{ med_form.medicine.id_for_label }}" class="req">Medicine</label><br>
                                                                            {{ med_form.medicine }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-sm-3">
                                                                        <div class="fieldWrapper">
                                                                            {{ med_form.times_a_day.errors }}
                                                                            <label for="{{ med_form.times_a_day.id_for_label }}" class="req">Times a day</label><br>
                                                                            {{ med_form.times_a_day }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-sm-3">
                                                                        <div class="fieldWrapper">
                                                                            {{ med_form.no_of_days.errors }}
                                                                            <label for="{{ med_form.no_of_days.id_for_label }}" class="req">No of days</label><br>
                                                                            {{ med_form.no_of_days }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-sm-2">
                                                                        <div class="fieldWrapper">
                                                                            {{ med_form.when_to_take.errors }}
                                                                            <label for="{{ med_form.when_to_take.id_for_label }}" class="req">When to take</label><br>
                                                                            {{ med_form.when_to_take }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-sm-1">
                                                                        <br>
                                                                        <button align="right" value="Add" type="submit" form="pres_form" formaction="{% if pres %} {% url 'Doctor:change_prescription' patient.rollNo pres.id %} {%else%} {% url 'Doctor:create_prescription' patient.rollNo %} {%endif%}" formmethod="post" formenctype="multipart/form-data" class="btn btn-success"><span class='glyphicon glyphicon-plus'></span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="panel panel-info">
                                                                <div class="panel-heading">
                                                                    <h6 class="panel-title">Added Medicines</h6>
                                                                </div>
                                                                <div class="panel-body" style="display: block;">
                                                                    <div class="form-group">
                                                                        <table class="table table-success">
                                                                            <thead>
                                                                                <tr class="table-success">
                                                                                    <th></th>
                                                                                    <th>Medicine</th>
                                                                                    <th>Times a day</th>
                                                                                    <th>No of days</th>
                                                                                    <th>When to take</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                            </thead>
                                                                            {% if pres %}
                                                                            <tbody>
                                                                                {%for m in pres.presmedicine_set.all %}
                                                                                <tr>
                                                                                    <th>{{ forloop.counter }}.</th>
                                                                                    <th>{{m.medicine}}</th>
                                                                                    <td>{{m.times_a_day}}</td>
                                                                                    <td>{{m.no_of_days}}</td>
                                                                                    <td>{{m.when_to_take}}</td>
                                                                                    <td>
                                                                                        <button
                                                                                        formnovalidate
                                                                                        value="Delete"
                                                                                        type="submit"
                                                                                        form="pres_form"
                                                                                        formaction="{%url 'Doctor:delete_med' patient.rollNo pres.id m.id %}"
                                                                                        formmethod="post"
                                                                                        formenctype="multipart/form-data"
                                                                                        class="btn btn-default btn-xs"
                                                                                        align="center"
                                                                                ><span class="glyphicon glyphicon-trash"></span></button>
                                                                                    </td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                            </tbody>
                                                                            {% endif %}
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="panel panel-info">
                                                                <div class="panel-heading">
                                                                    <h6 class="panel-title">Other details</h6>
                                                                </div>
                                                                <div class="panel-body" style="display: block;">
                                                                    <div class="row">
                                                                        <div class="form-group col-sm-4">
                                                                            <div class="fieldWrapper">
                                                                                {{ pres_form.tests.errors }}
                                                                                <label for="{{ pres_form.tests.id_for_label }}" class="req">Tests</label><br>
                                                                                {{ pres_form.tests }}
                                                                            </div>
                                                                        </div>
                                                                        {%if pres%}
                                                                        <div class="form-group col-sm-4">
                                                                            <div class="fieldWrapper">
                                                                                <table style="border-color: white; width:100%;" class="table table-responsive" align="center">
                                                                                  <tr style="border-color: white;">
                                                                                      <td style="border-color: white; align:left;"><b>Tests</b></td>
                                                                                      {%if pres.testpres_set.all %}
                                                                                      <td  style="border-color: white;">{%for t in pres.testpres_set.all %}{{ t.test }}<br>{%endfor%}</td>
                                                                                      <td  style="border-color: white;">{%for t in pres.testpres_set.all %}{{ t.value }}<br>{%endfor%}</td>
                                                                                      {%else%}
                                                                                      <td>NA</td>
                                                                                      {%endif%}
                                                                                  </tr>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                        {%endif%}
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="form-group col-sm-4">
                                                                            <div class="fieldWrapper">
                                                                                {{ pres_form.treatmentFor.errors }}
                                                                                <label for="{{ pres_form.treatmentFor.id_for_label }}" class="req">Treatment for</label><br>
                                                                                {{ pres_form.treatmentFor }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group col-sm-4">
                                                                            <div class="fieldWrapper">
                                                                                {{ pres_form.roomNo7.errors }}
                                                                                <label for="{{ pres_form.roomNo7.id_for_label }}" class="req">Room no 7</label><br>
                                                                                {{ pres_form.roomNo7 }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group col-sm-4">
                                                                            <div class="fieldWrapper">
                                                                                {{ pres_form.remarks.errors }}
                                                                                <label for="{{ pres_form.remarks.id_for_label }}" class="req">Remarks</label><br>
                                                                                {{ pres_form.remarks }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div><hr>

                                                <div class="row">
                                                    <div class="col-sm-4" align='center'>
                                                        <div class="form_sep">
                                                            <button
                                                                    formnovalidate
                                                                    value="Save"
                                                                    type="submit"
                                                                    form="pres_form"
                                                                    formaction="{% if pres %} {% url 'Doctor:save_pres' patient.rollNo pres.id %} {%else%} {% url 'Doctor:save_pres_new' patient.rollNo %} {%endif%}"
                                                                    formmethod="post"
                                                                    formenctype="multipart/form-data"
                                                                    class="btn btn-success"
                                                                    align="right"
                                                            >Save</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4" align='center'>
                                                        <div class="form_sep">
                                                            <button
                                                                    formnovalidate
                                                                    value="Save and End"
                                                                    type="submit"
                                                                    form="pres_form"
                                                                    formaction="{% if pres %} {% url 'Doctor:save_and_end' patient.rollNo pres.id 1 %} {%else%} {% url 'Doctor:create_and_end' patient.rollNo 1 %} {%endif%}"
                                                                    formmethod="post"
                                                                    formenctype="multipart/form-data"
                                                                    class="btn btn-success"
                                                                    align="left"
                                                                    formtarget="_blank"
                                                            >Save And End</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4" align='center'>
                                                        <div class="form_sep">
                                                            <button
                                                                    formnovalidate
                                                                    value="Create Reference"
                                                                    type="submit"
                                                                    form="pres_form"
                                                                    formaction="{% if pres %} {% url 'Doctor:refer' patient.rollNo pres.id %} {%else%} {% url 'Doctor:refer_new' patient.rollNo %} {%endif%}"
                                                                    formmethod="post"
                                                                    formenctype="multipart/form-data"
                                                                    class="btn btn-success"
                                                                    align="left"
                                                                    formtarget="_blank"
                                                            >Refer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

        <!--                        Patient History-->
                        <div class="tab-pane fade" id="his"><br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">History</h6>
                                        </div>
                                        <div class="panel-body" style="display: block;">
                                            <ul class="nav nav-pills">
                                                <li class="active"><a data-toggle="pill" href="#pr">Precriptions</a></li>
                                                <li><a data-toggle="pill" href="#file">Patient's files</a></li>
                                            </ul>
                                            {% if error_message%}
                                            <div class="alert alert-warning">
                                                <p><strong>{{ error_message }}</strong></p>
                                            </div>
                                            {% endif %}
                                            <div class="tab-content">
                                                <div id="pr" class="tab-pane fade in active">
                                                    <div class="row">
                                                        <table class="table table-responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th>S No</th>
                                                                    <th>Consultations</th>
                                                                    <th>Treatment For</th>
                                                                    <th>Doctor</th>
                                                                    <th>Edit</th>
                                                                </tr>
                                                            </thead>

                                                            {%for p in patient.prescription_set.all %}
                                                            <tbody>
                                                                <tr class="table-success">
                                                                    <td>{{ forloop.counter }}.</td>
                                                                    <td>
                                                                        <ul>
                                                                            {%for d in p.presdetails_set.all%}
                                                                                <li>{{ d.date }} - By: Dr {{d.doctor.user.first_name}} {{d.doctor.user.last_name}}</li>
                                                                            {%endfor%}
                                                                        </ul>
                                                                    </td>
                                                                    <td>{{p.treatmentFor}}</td>
                                                                    <td>Dr {{ p.doctor.user.first_name }} {{ p.doctor.user.last_name }}</td>
                                                                    <td>
                                                                        <button
                                                                        formnovalidate
                                                                        value="Edit"
                                                                        type="submit"
                                                                        form="pres_form"
                                                                        formaction="{%url 'Doctor:edit_prescription' p.id %}"
                                                                        formmethod="post"
                                                                        formenctype="multipart/form-data"
                                                                        class="btn btn-default btn-xs"
                                                                        align="center"
                                                                        ><span class="glyphicon glyphicon-pencil"></span></button>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div id="file" class="tab-pane fade">
                                                    {{patient.PatHistory_set.all}}
                                                    <div class="row">
                                                        <table class="table table-responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th>S No</th>
                                                                    <th>Treatment For</th>
                                                                    <th>Remarks</th>
                                                                    <th>File</th>
                                                                </tr>
                                                            </thead>

                                                            {%for p in patient.PatHistory_set.all %}
                                                            <tbody>
                                                                <tr class="table-success">
                                                                    <td>{{ forloop.counter }}.</td>
                                                                    <td>{{p.treatmentFor}}</td>
                                                                    <td>{{p.remarks}}</td>
                                                                    <td><a href="{%url 'Patient:pres_details' p.id%}" target="_blank">{{ p.date.date }}</a></td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

        <!--                        Patient Profile-->
                        <div class="tab-pane fade" id="prof">
                            <div class="media"><br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h6 class="panel-title">{{patient.user.first_name}}'s profile</h6>
                                            </div>
                                            <div class="panel-body" style="display: block;">
                                                <div class="col-md-6">
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">
                                                            <h6 class="panel-title">Personal Details<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                                                        </div>

                                                        <div class="panel-body" style="display: block;">
                                                            <div class="tabbable tab-content-bordered panel border-teal">
                                                                <div class="tab-content">

                                                                    <table style="border-color: white; width:100%;" class="table table-responsive" align="center">
                                                                        <tr style="border-color: white;">
                                                                            <td  style="border-color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                                            <td style="border-color: white; align:left;"><b>Name</b></td>
                                                                            <td  style="border-color: white;">{{patient.user.first_name}} {{patient.user.last_name}}</td>
                                                                            <td  style=" border-color: white;"></td>
                                                                        </tr>
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Contact Number</b></td>
                                                                            <td  style="  border-color: white;">{{patient.phoneNo}}</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Username</b></td>
                                                                            <td  style="  border-color: white;">{{patient.user.username}}</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Designation</b></td>
                                                                            <td  style="  border-color: white;">{{patient.designation}}</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Department</b></td>
                                                                            <td  style="  border-color: white;">{{patient.department}}</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Roll no./Pf no</b></td>
                                                                            <td  style="  border-color: white;">{{patient.rollNo}}</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Address</b></td>
                                                                            <td  style="  border-color: white;">{{patient.per_addr}}</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        {%if patient.is_student %}
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Patient type</b></td>
                                                                            <td  style="  border-color: white;">Student</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Hall</b></td>
                                                                            <td  style="  border-color: white;">{{patient.hall}}</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Program</b></td>
                                                                            <td  style="  border-color: white;">{{patient.program}}</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Hometown</b></td>
                                                                            <td  style="  border-color: white;">{{patient.hometown}}</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        {%else%}
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Patient type</b></td>
                                                                            <td  style="  border-color: white;">Staff</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        {%endif%}
                                                                        {%if user.is_dependent %}
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Dependent user</b></td>
                                                                            <td  style="  border-color: white;">{{patient.dependentUser}}</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Dependent Relation</b></td>
                                                                            <td  style="  border-color: white;">{{patient.dependentRelation}}</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        {%endif%}
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Emergency contact name</b></td>
                                                                            <td  style="  border-color: white;">{{patient.emergencyContactName}}</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Emergency contact relation</b></td>
                                                                            <td  style="  border-color: white;">{{patient.emergencyContactRelation}}</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Emergency contact no</b></td>
                                                                            <td  style="  border-color: white;">{{patient.emergencyContactNo}}</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                        <tr style="border-color: white;">
                                                                            <td  style="  border-color: white;"></td>
                                                                            <td style="  border-color: white;"><b>Registered date</b></td>
                                                                            <td  style="  border-color: white;">{{patient.user.date_joined.date}}</td>
                                                                            <td  style="  border-color: white;"></td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    <div class="col-md-6">
                                                        <div class="panel panel-info">
                                                            <div class="panel-heading">
                                                                <h6 class="panel-title">Medical Details<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                                                            </div>

                                                            <div class="panel-body" style="display: block;">
                                                                <div class="tabbable tab-content-bordered panel border-teal">
                                                                    <div class="tab-content">

                                                                        <table style="border-color: white; width:100%;" class="table table-responsive" align="center">

                                                                            <tr style="border-color: white;">
                                                                                <td  style="  border-color: white;"></td>
                                                                                <td style="  border-color: white;"><b>Age</b></td>
                                                                                <td  style="  border-color: white;">{{patient.age}}</td>
                                                                                <td  style="  border-color: white;"></td>
                                                                            </tr>
                                                                            <tr style="border-color: white;">
                                                                                <td  style="  border-color: white;"></td>
                                                                                <td style="  border-color: white;"><b>Gender</b></td>
                                                                                <td  style="  border-color: white;">{{patient.gender}}</td>
                                                                                <td  style="  border-color: white;"></td>
                                                                            </tr>
                                                                            <tr style="border-color: white;">
                                                                                <td  style="  border-color: white;"></td>
                                                                                <td style="  border-color: white;"><b>Blood group</b></td>
                                                                                <td  style="  border-color: white;">{{patient.bloodGroup}}</td>
                                                                                <td  style="  border-color: white;"></td>
                                                                            </tr>
                                                                            <tr style="border-color: white;">
                                                                                <td  style="  border-color: white;"></td>
                                                                                <td style="  border-color: white;"><b>Allergies</b></td>
                                                                                <td  style="  border-color: white;">{{patient.allergies}}</td>
                                                                                <td  style="  border-color: white;"></td>
                                                                            </tr>
                                                                            <tr style="border-color: white;">
                                                                                <td  style="  border-color: white;"></td>
                                                                                <td style="  border-color: white;"><b>Significant medical history</b></td>
                                                                                <td  style="  border-color: white;">{{patient.significantMedicalHistory}}</td>
                                                                                <td  style="  border-color: white;"></td>
                                                                            </tr>

                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
