{%extends 'users/base.html'%}

{%block body%}
<div class="panel panel-success">
    <div class="panel-heading">
        <h6 class="panel-title">Refer Form</h6>
    </div>
    <div class="panel-body" style="display: block;">
        {% if error_message%}
        <div class="alert alert-warning">
            <p><strong>{{ error_message }}</strong></p>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {%if form%}
                            <form class="form-horizontal" action="{%url 'Doctor:create_reference' pres.id%}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {%for field in form%}
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                                        <div class="col-sm-10">{{ field }}</div>
                                    </div>
                                {%endfor%}
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}